<h1>List test</h1>
<hr>
<table class="table table-bordered">
  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= link_to 'Show', user_test_path(test) %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
