<div class="jumbotron">
  <div class="container text-center banner">
    <h1>Welcome to test app</h1>      
    <p>Click to "Do test" button to start doing test</p>
    <%= link_to "Do test", user_tests_path  %>
  </div>
</div>

<div class = "container">
  <div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="div-square">
        <i class="fa fa-user fa-5x"></i>
        <br>
        <%= link_to "Profile", user_profile_path(current_user)  %>
      </div>
    </div> 

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="div-square">
        <i class="fa fa-list fa-5x"></i>
        <br>
        <%= link_to "List of tests done", '#' %>
      </div>
    </div>
  </div>
</div>
