<div class="sidebar-collapse">
  <ul class="nav" id="main-menu">
    <li class="active-link">
      <%= link_to 'Home' , admin_home_index_path %>
    </li>
    <li>
      <%= link_to 'List topic' , admin_topics_path %>
    </li>
    <li>
      <%= link_to 'List test' , admin_tests_path %>
    </li>
  </ul>
</div>
