<!-- /. NAV SIDE  -->

<div class="row">
  <div class="col-lg-12">
    <h2>ADMIN INDEX</h2>   
  </div>
</div>              
<hr>
<div class="row">
  <div class="col-lg-12 ">
    <div class="alert alert-info">
      <strong>Welcome Test App ! </strong> 
    </div> 
  </div>
</div>

<!-- /. ROW  --> 
<div class="row text-center pad-top">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="div-square">
      <i class="fa fa-users fa-5x"></i>
      <br>
      <%= link_to "New user", '' %>
    </div>
  </div> 

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="div-square">
      <i class="fa fa-list fa-5x"></i>
      <br>
      <%= link_to "New topic", new_admin_topic_path %>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="div-square">
      <i class="fa fa-list fa-5x"></i>
      <br>
      <%= link_to "New test", '' %>
    </div>
  </div>
</div>
