<h1>DONE</h1>
<ul>
  <% @user_test.test.questions.each do |question| %>
    <ul>
      <li><%= question.content %>
        <ul class="option">
            <li>
              <% @user_test.user_answers.each do |ua| %>
                <% if ua.question_id == question.id %>
                  <input type="radio" checked="true" disabled>
                  <%= ua.answer.content %>
                <% end %>
              <% end %>
            </li>
            <br>
        </ul>
      </li>
    </ul>
  <% end %>
</ul>
